body {
  background-image: url(/public/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.content {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}
#title{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 3.2em;
  font-weight: 700;
  color: white;
}
#title:hover{
  color: rgb(152, 0, 38);
}
h2{
  color: darkgray;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
li {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(255, 255, 255, 0.09);
}

 li:hover {
    /* From https://css.glass */
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.19);
}
li:active{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid rgba(255, 255, 255, 0.19);
}
li img {
  width: auto;
  height: 200px;
  border-radius: 16px;
}
.movieInfo{
  display: flex;
  margin: auto 1rem ;
  flex-direction: column;
  justify-content: center;
  width: 160px;
}
 a {
  color: white;
  text-decoration: none;
 }
 

 footer {
  display: flex;
  flex-direction: column;
  margin: 2rem;
 }