h3{
  font-size: 24px;
}

p{
  font-size: 18px;
}

.moviePageSection {
  max-width: 840px;
  min-width: 200px;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 2rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  border: 1px solid rgba(255, 255, 255, 0.09);
 }

img {
  border-radius: 16px;
}

.moviePageInfos {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: 2rem;
}
.moviePageInfos p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .moviePageSection {
    flex-direction: column;
  }
}